<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.orf">
<head>
    <title>Timeliner - Get your Timeline!</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/lib/css/bulma.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:replace="layout/header::header"></div>
    <div>
        안녕하세요!
        <img th:src="@{/images/kimdoe.jpeg}" />
        <div th:text="${post.title}"></div>
        <a href="/">홈으로</a>
    </div>
    <div th:replace="layout/footer::footer"></div>
</body>
</html>